
RewriteEngine on
RewriteCond %{HTTP_HOST} ^laptoprepairing\.deohomeservices\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.laptoprepairing\.deohomeservices\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/deohomeservices\.com" [R=301,L]

